flows.json
[
    {
        "id": "b49ff3e9e849ea99",
        "type": "tab",
        "label": "Sistema de Monitoramento -ICr",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4eb3ab259c38e467",
        "type": "mqtt in",
        "z": "b49ff3e9e849ea99",
        "name": "Wokwi",
        "topic": "/paciente01_ICr/AllData",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cc08b5cacd13759d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "1080420e9aaa490f",
                "100d05525444ffb8"
            ]
        ]
    },
    {
        "id": "1080420e9aaa490f",
        "type": "debug",
        "z": "b49ff3e9e849ea99",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "de201d2ef9bc1d84",
        "type": "mqtt out",
        "z": "b49ff3e9e849ea99",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "238bfee5fbd32cac",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "100d05525444ffb8",
        "type": "function",
        "z": "b49ff3e9e849ea99",
        "name": "function 1",
        "func": "var obj = {\n    payload:[{\n        \"variable\": \"Temperatura\",\n        \"unit\": \"°C\",\n        \"value\": msg.payload.temperatura.toString()\n    },{\n        \"variable\": \"Claridade\",\n        \"unit\": \"%\",\n        \"value\": msg.payload.claridade.toString()\n    },{\n        \"variable\": \"Umidade\",\n        \"unit\": \"%\",\n        \"value\": msg.payload.umidade.toString()\n    },{\n        \"variable\": \"Chamado\",\n        \"value\": msg.payload.chamado.toString()\n    }]\n};\n\n\nreturn obj;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "de201d2ef9bc1d84"
            ]
        ]
    },
    {
        "id": "cc08b5cacd13759d",
        "type": "mqtt-broker",
        "name": "MQTT IN",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "238bfee5fbd32cac",
        "type": "mqtt-broker",
        "name": "MQTT OUT ",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "Teste_mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]